modules = ["python-3.12", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "libxcrypt", "pkg-config", "sqlite", "xsimd"]

[workflows]
runButton = "Setup Database"

[[workflows.workflow]]
name = "Setup Database"
author = 38404436
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main_data_loader.py"

[[workflows.workflow]]
name = "Download All NSE Stocks"
author = 38404436
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python yfinance_nse_downloader.py"

[deployment]
run = ["sh", "-c", "npm run dev"]
